<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @title %></title>
  <link rel="stylesheet" href="css/style.css">
  <style>
    article, aside, dialog, figure, footer, header,
    hgroup, menu, nav, section { display: block; }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
